@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen Gustav</h1>
    <p>velkommen til Gustavs hjemmeside</a>.</p>
</div>sidste gang opdateret 25-09-2021madr 
